runLog.txt
/SummaryLevel/old/ 
/SummaryLevel/output_figs/ 
/SummaryLevel/output_src/ 
/SummaryLevel/output_xls/ 
/SummaryLevel/output_qc/
/SummaryLevel/run_all_w_latex.sh
/SummaryLevel/xtended_latex_src/ 
*.pyc 
*.swp 
*.swo
__pycache__/
manual/
