process{
    executor ='lsf'
    clusterOptions = '-P acc_psychgen'
}

process { 
    withLabel: prsice{
        queue='express'
        time = '12h'
        cpus=1
        memory = '80G'
        clusterOptions = "-P acc_psychgen -R 'hname!=dhimem1'"
    }
    withLabel: normal{
        queue='express'
        time = '2h'
        cpus=1
        memory = '20G'
    }
    withLabel: long{
        queue='express'
        time = '12h'
        cpus=1
        memory = '20G'
    }
    withLabel: tiny{
        queue='express'
        time = '10m'
        cpus=1
        memory = '500M'
    }
    withLabel: more{
        queue='express'
        time = '12h'
        cpus=1
        clusterOptions = '-P acc_psychgen'   
        executor='lsf'
        memory = '20G'
    }

    withLabel: highmem{
        queue='express'
        time = '12h'
        cpus=1
        clusterOptions = '-P acc_psychgen'   
        executor='lsf'
        memory = '40G'
    }
}

executor {
    name ='lsf'
    queueSize=2000
}
